body {
    font-family: 'Inter', sans-serif;
    background-color: #0d0d0d;
    color: #fff;
    margin: 0;
    padding: 0;
}


.container {
    text-align: center;
    padding: 50px 20px;
}


.container_titulo {
    font-size: 1.8rem;
    margin-bottom: 20px;
}


.container_imagem {
    width: 250px;
    height: auto;
    margin: 20px 0;
}


.container_botao {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 10px;
    text-decoration: none;
    transition: background 0.3s;
}


.container_botao:hover {
    background-color: #0056b3;
}


.botao_secundario {
    background-color: #444;
}


.botao_secundario:hover {
    background-color: #666;
}


.secundario {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: #111;
    margin: 20px 0;
}


.secundario_imagem {
    width: 300px;
    border-radius: 15px;
}


.descricao_titulo {
    font-size: 1.5rem;
    color: #00ffcc;
}


.dispositivos {
    background-color: #1a1a1a;
    padding: 40px 0;
}


.dispositivos_lista {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    list-style: none;
    padding: 0;
}


.lista_item {
    margin-top: 10px;
}


.rodape {
    background-color: #000;
    padding: 40px 20px;
    text-align: center;
}


.rodape_logo {
    width: 150px;
    margin-bottom: 20px;
}


.rodape_lista {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}


.lista_link a {
    color: #00ffcc;
    text-decoration: none;
}


.lista_link a:hover {
    text-decoration: underline;
    color: aliceblue;
}
.imagens_dispositivos{
    width: 150px;
    height: auto;
}